
/*Logo con fuentes y un poco de estilo*/
.logotipazo{
    font-family: 'Sofia', cursive;
    font-weight: bolder;
    color: white;
    font-size: 1.8rem;
    background-color: black;
    border-radius: 13px;
    padding-right: 16px;
    padding-left: 16px;

}
/*Le quitamos el subrayado al logo del footer*/
.logotipazo:hover{
    text-decoration: none;
}
/*Logo con fuentes e imagen*/
.site-header.inicio{
    background-image: url(../img/header.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    height: 100vh;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.barra{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    align-items: center;
    padding-top: 30px;
}
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    margin-right: 20px;

}.navegacion a:hover{
    color: green;
}
.head2{
    background-color:#68b0ab; 
    background-position: center center;
    width: 100%;
    height: 15vh;
    background-repeat: no-repeat
    
}
body{
    font-family: 'Gruppo', cursive;
    font-family: 'Lato', sans-serif;  
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.contenido-header h1{
    color: white;
    padding-top: 29%;
 }

.encabezado-nosotros{
    font-weight: 300;
    text-align: center;
}
/*centrar texto*/
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
/*Mas que seccion puro margen*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*Centrado y espaciado de iconos*/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
/* Acomodo de iconos en linea y texto centrado*/
.icono{
    flex-basis: calc(33.3% -1rem);
    text-align: center;
    padding: 16px;
}
/*Separacion de lineas en todos los parafos*/
p{
    line-height: 2;
    font-weight: 400;
    font-size: 1.1rem;
}
/* h3 a mayusculas*/
.icono h3{
    text-transform: uppercase;
}

/*Contenedor anuncio*/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    
}

/*Anuncios*/
.anuncio{
    flex-basis: calc(33.3% - 1rem);
    justify-content: space-between;
    border-style: solid;
    border-color: #b5b5b5;
    background: #f5f5f5;
}
img{
    max-width: 100%;
}
/*Contenido anuncios */
.contenido-anuncios{
    padding: 1rem;
}
.contenido-anuncios h3{
    margin: 0px;
    
}
.precio{
    color: #71b100;
    font-weight: 700;
}
.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: block;
    text-align: center;
}
.boton:hover{
    text-decoration: none;
}
.iconos-caracteristicas {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.iconos-caracteristicas li{
    display: flex;
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.iconos-caracteristicas p{
    margin-left: 1rem;
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
   background-color: #71B100;
   
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}
.encuentraImagen{
    margin-top: 2rem;
    height: 30vh;
    color: white;
    background-image: url('../img/encuentra.jpg');
    background-position: center center;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 8%;
}
.contenido-contacto{
    flex: 1;
    font-size: 1rem;
    color: white;
}
.cont{
    margin: 0 auto;
    width: 90%;
}
.botonContacto{
    width: 30%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-left: 5%;
}
.contBT{
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
}
.bg{
	background: white;
	color: black;
	margin: 30px;
	padding: 10px;
	font-size: 4rem;
    text-align: center;
    flex: 2 1 auto;
}
.tes{
	margin: 30px;
	padding: 10px;
    flex: 1 2 auto;
    text-align: justify;
}
.tes h2{
    text-align: center;
}
.alinear{
    display: flex;
    font-size: 1rem;
    padding-top: 20px;
}

.alinear img{
    width: 300px;
    height: 200px;
}
.texto{
    flex-direction: column;
    font-size: 1rem;
    text-align: justify;
    margin-left: 10px;
}
.texto h3{
    font-size: 1.5rem;
}

.detalle{
    margin-top: 10px;
    background:#649d66;
    width: 100px;
	height: 8px;
}
.cuadroTestimonio{
    background:#20302f;
    border-radius: 20px;
    color: white;
    width: 100%;
    height: 70%;
}